.navigation-container {
    position: absolute;
    width:100%;
    background-color: darkgreen;
}
.navigation-container > ul {
    list-style: none;
    display:flex;
}
li {
    margin-right: 30px;
}
li > a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}